name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: make

      - name: Run tests
        run: make test

      - name: Build docker
        run: docker build -t dummydb-ci:latest .

      - name: Smoke test
        run: docker run --rm dummydb-ci:latest
      